html,body{overflow-x: hidden;color:#232F39}

.navy{color:#232F39}

.brown{color:#B77E66}

.back-darkBlue{background-color:#022d46}

.bold{font-weight: bold}

@media (min-width: 1200px){
    
    .container 
    {
        width: 1249px;
    }

}

.droid{font-family: 'Droid Sans', sans-serif;}

.domine{font-family: 'Domine', serif;}

button:focus,input:focus
{
    outline: none;
}

*{
    outline: none;
}
/* Star Banner Section */

.banner{height: 45px;color: #FFF;}

.banner h4
{
    letter-spacing: 1.3px;
    font-size: 19px;
    transform: scale(1.2, 1);
    margin-top: 13px;
    font-weight: 600;
}

/* End Banner Section */

/* Start Categories Section */

.categories{padding: 16px;}

.categories p{margin-bottom: 0}

.categories .header{margin: 40px auto 20px; max-width: 800px;padding-right: 20px;}

.categories .header h1
{   padding-bottom: 10px;
    color: #4a4a4a;
    font-size: 31px;
    font-family: serif;
    margin: 0
}

.categories .header h3{font-size: 18px; margin: 0}

.categories form
{
    width: 370px;
    margin: auto;
    margin-top: 25px
}

.categories form .form-group textarea,
.categories form .form-group input
{
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 20px
}

.categories  button
{
    width: 295px;
    padding: 12px 20px;
    background: #bc8067;
    border-color: #bc8067;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 15px
}

/* End Categories Section */

/* Start Footer Section */

.footer
{   margin-top: 200px;
    background-color: #022d46;
    height: 65px;
}

.footer a
{   
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top: 22.5px;
}

.footer a:last-child{font-size: 14px;transform: scale(1.1, 1)}

.footer .lead{padding-top: 17px;margin-bottom: 0}

/* End Footer Section */