{% extends "base_onboarding.html" %}
{% block content %}
    <!-- Start Categories section -->
    <section class="registration-container full-height">
        <div class="text-center">
            <div class="container">
                <div class="header">
                    <h1>Is this your first home buy?</h1>
                    <h3>So you can know about tax advantages, house choosing criteria</h3>
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="button-select invisible">
                        {{ form.as_p }}
                    </div>
                    <div class="oval-button-container">
                        <button class="oval-button" type="button" id="yes">Yes</button>
                        <button class="oval-button" type="button" id="no">No</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $('#yes').on('click', function () {
            $('input[type="checkbox"]').attr('checked', true);
            $('form').submit();
        });
        $('#no').on('click', function () {
            $('input[type="checkbox"]').removeAttr('checked');
            $('form').submit();
        });
    </script>
{% endblock %}
