{% extends "base_onboarding.html" %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container ext">
        <div class="categories text-center">
            <div class="container">
                <form action="" method="post" class="options button-select reduced">
                    {% csrf_token %}
                    <div class="header">
                        <h1 class="domine">Is this your first home buy?</h1>
                        <h3 class="droid">So you can know about tax advantages, house choosing criteria</h3>
                    </div>
                    <br>
                    <div class="bordered-block col-sm-12 adjusted">
                        <div class="invisible">
                            {{ form.firsthome }}
                        </div>
                        <div class="col-sm-12 flex-button-container">
                            <div id="fh-yes" class="btn center-block status btn-smaller">Yes</div>
                            <div id="fh-no" class="btn center-block status btn-smaller">No</div>
                        </div>
                    </div>

                    <div class="header">
                        <h1 class="domine">Do you have a mortgage?</h1>
                        <h3 class="droid"></h3>
                    </div>
                    <div class="bordered-block col-sm-12 adjusted">
                        <div class="invisible">
                            {{ form.has_mortgage }}
                        </div>
                        <div class="col-sm-12 flex-button-container">
                            <div id="hm-yes" class="btn center-block status btn-smaller">Yes</div>
                            <div id="hm-no" class="btn center-block status btn-smaller">No</div>
                        </div>
                    </div>

                    <div class="header">
                        <h1 class="domine">Do you have a real estate agent?</h1>
                        <h3 class="droid"></h3>
                    </div>
                    <div class="bordered-block col-sm-12 adjusted">
                        <div class="invisible">
                            {{ form.has_agent }}
                        </div>
                        <div class="col-sm-12 flex-button-container">
                            <div id="ha-yes" class="btn center-block status btn-smaller">Yes</div>
                            <div id="ha-no" class="btn center-block status btn-smaller">No</div>
                        </div>
                    </div>
                    <button class="next center-block droid" type="submit">Next</button>
                    <a href="{% url 'onboarding:house-type' %}">
                        <button class="skip" type="button">Skip this step</button>
                    </a>
                </form>

            </div>
        </div>
    </section>
    <script type="text/javascript">
        $('.bordered-block').on('click', '.btn-smaller', function (evt) {
            evt.stopImmediatePropagation();
            evt.preventDefault();
            evt.stopPropagation();
            var checkbox = $(this).parent().parent().find('input[type="checkbox"]');
            if ($(this).hasClass('checked')) {
                checkbox.removeAttr('checked');
                $(this).removeClass('checked');
            } else {
                checkbox.prop("checked", true);
                $(this).addClass('checked');
                $(this).siblings().removeClass('checked');
            }
            if ($(this).html() == 'No') {
                checkbox.removeAttr('checked');
            }

        });
    </script>

{% endblock %}
