{% extends "base_onboarding.html" %}
{% block content %}

    <link href="{% static 'css/onboarding_combo_options.css' %}" rel="stylesheet"/>

    <!-- Start Categories section -->

    <section class="categories text-center">
        <div class="container">
            <div class="header">
                <h1 class="domine">House Choices</h1>
                <h3 class="droid">Tax rebates, mortgage rates vary upon this</h3>
            </div>
            <form action="" method="post" class="options">
                {% csrf_token %}

                <div class="question row">
                    <h2 class="domine text-center">Type of house</h2>
                    <div class="col-sm-6">
                        <img class="img-responsive" src="{% static 'images/type.jpg' %}" alt="house">
                    </div>
                    <div class="col-sm-6">
                        {{ house_type_form.as_p }}
                    </div>
                </div>
                <button class="next center-block droid" type="submit">Next</button>
                <a href="{% url 'onboarding:city' %}">
                    <button class="skip" type="button">Skip this step</button>
                </a>
            </form>

        </div>
    </section>
{% endblock %}
