{% extends "base_onboarding.html" %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">House Choices</h1>
                    <h3 class="droid">Tax rebates, mortgage rates vary upon this</h3>
                </div>
                <form action="" method="post" class="options button-select">
                    {% csrf_token %}
                        <h2 class="domine text-center">{{ house_type_form.house_type.label }}</h2>
                        <div class="col-sm-12 bordered-block">
                            {% for choice in house_type_form.house_type %}
                                {% if not forloop.first %}
                                    <div class="btn center-block status btn-smaller">{{ choice }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <h2 class="domine text-center"> {{ house_type_form.house_age.label }}</h2>
                        <div class="col-sm-12 bordered-block">
                            {% for choice in house_type_form.house_age %}
                                {% if not forloop.first %}
                                    <div class="btn center-block status btn-smaller">{{ choice }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <h2 class="domine text-center"> {{ house_type_form.house_cond.label }}</h2>
                        <div class="col-sm-12 bordered-block">
                            {% for choice in house_type_form.house_cond %}
                                {% if not forloop.first %}
                                    <div class="btn center-block status btn-smaller">{{ choice }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <button class="next center-block droid" type="submit">Next</button>
                    <a href="{% url 'onboarding:city' %}">
                        <button class="skip" type="button">Skip this step</button>
                    </a>
                </form>

            </div>
        </div>
    </section>
    <script type="text/javascript">
    $('.btn-smaller').on('click', function () {
        if($(this).find('input[type="radio"]').is(':checked')) {
            $(this).find('input[type="radio"]').attr("checked", false);
        } else {
            $(this).find('input[type="radio"]').attr("checked", true);
            $(this).siblings().find('input[type="radio"]').attr("checked", false);
        }

    });
    </script>

{% endblock %}
