{% extends "base_onboarding.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">When do you plan to buy your house?</h1>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="invisible">
                        {{ form|crispy }}
                    </div>
                    <div class="circle-container">
                        {% for value, time in form.fields.how_soon.choices %}
                            {% if not forloop.first and not forloop.last %}
                                <div class="circle-item" data-id="{{ value }}">
                                    {{ time }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="btn" type="submit">Next</button>
                </form>
                <a href="{% url 'onboarding:personal-profile' %}">
                    <button class="skip" type="button">Skip this step</button>
                </a>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $('.circle-item').on('click', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            $("select").val(null).change();
            } else {
                $(this).addClass('selected');
                $(this).siblings().removeClass('selected');
                var value = $(this).attr('data-id');
                $("select").val(value).change();
                console.log(value);
            }
        });
    </script>

{% endblock %}
