{% extends "base_onboarding.html" %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container ext">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Financials</h1>
                    <h3 class="droid">So we can understand affordability</h3>
                </div>
                <form action="" method="post" class="options">
                    {% csrf_token %}

                    <div class="bordered-block col-sm-12 adjusted">
                        <h2 class="domine text-center"> Maximum Budget </h2>
                        <div class="col-sm-12 fixed-height">
                            {% for field in form.budget %}
                                <input class="form-control input-lg" type="number" name="{{ field.name }}"
                                       id="id_{{ field.name }}"
                                       value="{{ field.value }}">
                            {% endfor %}
                            {% if form.budget.errors %}
                                <p class="red-text">{{ form.budget.errors }}</p>
                            {% endif %}
                            <div class="dollar-sign positioned">$</div>
                        </div>
                    </div>

                    <div class="bordered-block col-sm-12 adjusted">
                        <h2 class="domine text-center"> Current Rent </h2>

                        <div class="col-sm-12 fixed-height">
                            {% for field in form.current_rent %}
                                <input class="form-control input-lg" type="number" name="{{ field.name }}"
                                       id="id_{{ field.name }}"
                                       value="{{ field.value }}">
                            {% endfor %}
                            {% if form.current_rent.errors %}
                                <p class="red-text">{{ form.current_rent.errors }}</p>
                            {% endif %}
                            <div class="dollar-sign positioned">$</div>
                        </div>
                    </div>

                    <div class="bordered-block col-sm-12 adjusted">
                        <h2 class="domine text-center"> Annual Income before Tax </h2>

                        <div class="col-sm-12 fixed-height">
                            {% for field in form.annual_income %}
                                <input class="form-control input-lg" type="number" name="{{ field.name }}"
                                       id="id_{{ field.name }}"
                                       value="{{ field.value }}">
                            {% endfor %}
                            {% if form.annual_income.errors %}
                                <p class="red-text">{{ form.annual_income.errors }}</p>
                            {% endif %}
                            <div class="dollar-sign positioned">$</div>
                        </div>
                    </div>
                    <button class="next center-block droid" type="submit">Next</button>
                    <a href="{% url 'onboarding:how-soon' %}">
                        <button class="skip" type="button">Skip this step</button>
                    </a>
                </form>

            </div>
        </div>
    </section>
{% endblock %}

