{% extends "base_onboarding.html" %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Do you have maximum budget?</h1>
                </div>
                <form class="form-inline" method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        <input class="form-control input-lg" type="number" name="{{ field.name }}"
                               id="id_{{ field.name }}"
                               value="{{ field.value }}">
                    {% endfor %}
                    <div class="dollar-sign">$</div>
                    <div class="button-container">
                        <button class="next center-block droid" type="submit">Next</button>
                    </div>
                <a href="{% url 'onboarding:current-rent' %}">
                        <button class="skip" type="button">Skip this step</button>
                    </a>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
