/* Fonts */

@font-face {
  font-family: 'BentonSans Bold';
  font-weight: bold;
  src: url("../assets/fonts/bentonsans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'BentonSans Book';
  src: url("../assets/fonts/bentonsans-light-webfont.woff") format("woff");
}

body, html {
  font-family: 'Droid Sans', sans-serif;
  overflow-x: hidden;
}
.header{margin-top: 60px}
.footer-space{margin-top: 60px}

/* style.scss */
@import "base/base";
@import "base/base_onboarding";
@import "base/base_profile";
@import "base/project";
@import "home/home";
@import "account/registration";
@import "chat/variables";
@import "chat/variables-2";
@import "chat/_font-mixin";
@import "chat/_mixins";
@import "chat/_text-mixin";
@import "chat/_flex-mixin";
@import "chat/room";
@import "chat/_message-card";
@import "chat/_message-bar";
@import "chat/_message";
@import "chat/_message-attachment";
@import "chat/_message-log";
@import "chat/_profile-card";
@import "users/update";
