/* Start Framework */

html, body {
  overflow-x: hidden;
  color: #4a4a4a;
  height: 100%
}

.back-darkBlue {
  background-color: #022d46
}

.bold {
  font-weight: bold
}

@media (min-width: 1200px) {

  .container {
    width: 1249px;
  }

}

*:focus {
  outline: 0 !important
}

/* End Framework */

/* Star Banner Section */

.banner {
  height: 45px;
  margin-bottom: -45px;
  color: #FFF;
}

.banner h4 {
  letter-spacing: 1.3px;
  font-size: 19px;
  transform: scale(1.2, 1);
  margin-top: 13px;
  font-weight: 600;
}

/* End Banner Section */

/* Start Body Section */

.body {
  min-height: 100%
}

.body #main {
  overflow: auto;
  padding-top: 45px;
  padding-bottom: 65px
}

/* End Body Section */
.onboarding-footer{
  .footer {
    background-color: #022d46;
    height: 65px;
  }

  .footer a {
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top: 22.5px;
  }

  .footer a:last-child {
    font-size: 14px;
    transform: scale(1.1, 1)
  }

  .footer .lead {
    padding-top: 17px;
    margin-bottom: 0
  }
}


@import "../onboarding/onboarding";
@import "../onboarding/onboarding_combo_options";
@import "../onboarding/onboarding_grid_options";
@import "../onboarding/onboarding_inputbox";
@import "../onboarding/onboarding_list_icons";
@import "../onboarding/onboarding_list_options";
@import "../onboarding/onboarding_timeline";
@import "../onboarding/onboarding_yesno";