{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_yesno.css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Is this your first home buy?</h1>
                    <h3 class="droid">So you can know about tax advantages, house choosing criteria</h3>
                </div>
              <form action="" method="post">
                  {{ form.as_p }}
                  <button type="submit">Next</button>
              </form>
            </div>
        </section>

        <!-- End Categories section -->
        <script>
        $(".btn").on("click", function(){
            localStorage.firsthome = $(this).attr('data-val');
        });

        </script>
{% endblock %}
