#discover-container {
  overflow-y: scroll;

  & .tab-options > a {
    color: #022d46;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &.active {
      border-bottom: 1px solid #022d46;
    }
  }

  & .article span {
    color: #022d46;
    padding: 3px;
    border-bottom: 1px solid #eee;

    &:hover {
      border-bottom-color: #022d46;
    }

  }

  & .tab-options {
    margin-top: 10px;
  }

  & .article {
    width: 30%;
  }

  & .flex {
    display: flex;
    justify-content: space-around;
  }

  & .tabs {
    margin-top: 20px;
  }

  & .image-placeholder {
    height: 300px;
    background: lightgray;
    width: 100%;
    margin-bottom: 10px;
  }

  & .tab-container {
    max-width: 960px;
  }

  & .sub-section {

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }

    & h2 {
      margin-bottom: 30px;
    }

  }

}
