option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoproj.settings"
    "PYTHONPATH": "/Users/harish.maiya/project/realpal/webapp:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: config/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
