option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoproj.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoproj:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoproj/djangoproj/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
