{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="text">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-10 col-md-offset-1">
                    <p>Real Pal got started to solve an evident problem: house buying process is overwhelming and tedious, with only fragmented solutions available. With Real Pal, you'll be accompanied from plan of buying till move in and settle down at your new house.
                        We give personalized service to help you build trusted team of mortgage, real estate, house contract agents.
                        Real Pal assists you in decisions with unbiased opinions, data driven analysis, market trends.
                        We combine expert knowledge with technology to get you right deal at every step, negotiate to find bargain or value add.
                      </p>
                    <h2 class="text-center brown textSerif">
                        <h2>Login</h2>
                    </h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
