{% extends 'chat/base_profile.html' %}
{% load staticfiles %}
{% block title %}Chat Room{% endblock %}

{% block content %}
    <!-- Start section -->

    <section>
        <div class="benefits text-center">
            <div>
                <div class="row">
                    <!--Start Clients List section -->
                    <div class="col-md-4">
                        {% if agent_user %}
                            <div class="box-chat clients-list">
                                <div class="chat-titre">
                                    <strong>MY CLIENTS</strong>
                                </div>
                                {% if my_clients %}
                                    <ul>
                                        {% for client_room in my_clients %}
                                            <li>
                                                <a href="{% url 'chat:chat-room' client_room.id %}">{{ client_room.client }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p> No clients available</p>
                                {% endif %}
                                <div class="chat-titre">
                                    <strong>UNASSIGNED CLIENTS</strong>
                                </div>

                                {% if unassigned_clients %}
                                    <ul>
                                        {% for client_room in unassigned_clients %}
                                            <li>
                                                <a href="{% url 'chat:chat-room' client_room.id %}">{{ client_room.client }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p> No unassigned clients available</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- end clients list -->
                    <!-- chat messages -->
                    <div class="col-md-4">
                        <div class="box-chat">
                            {% if agent_user %}
                                <strong class="client-name">You are chatting
                                    to {{ selected_client_profile.full_name }}</strong>
                            {% else %}
                                <span id="agent-name" class="client-name"></span>
                            {% endif %}
                            <div class="chat-messages">
                                {% if not selected_client_room %}
                                    <img class="center" src="{% static 'chat/images/zzz.png' %}"/>
                                    <p class="center">Please select a client to start chatting</p>
                                {% endif %}
                                <div id="chat">
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <div class="Message employee">
                                                <div class="Message-icon">
                                                    <div class="Message-icon">
                                                        <div class="Message-iconImage"
                                                             src="https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg"
                                                             style="background-image: url(&quot;https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg&quot;);">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="Message-parts">
                                                    <div class="Message-partHeader">
                                                        <strong>{{ msg.sent_by }}</strong>
                                                        <small title="Thu, Aug 31, 2017 5:47 PM">{{ msg.timestamp }}</small>
                                                    </div>
                                                    <div class="Message-part">
                                                        {% if msg.attachment %}
                                                            {% if msg.text %}
                                                                <span>{{ msg.text }}</span>
                                                            {% endif %}
                                                            <span>
                                                                <a href="{{ msg.attachment }}"> {{ msg.filename }}</a>
                                                            </span>
                                                        {% else %}
                                                            <span>
                                                        {{ msg.text }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>



                                        {% endfor %}
                                    {% else %}
                                        <div class="no-client">
                                            <p> No Message history</p>
                                            <hr class="style-two">
                                        </div>
                                    {% endif %}
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end chat messages -->
                    <!-- client short bio -->
                    <div class="col-md-4">
                        {% if agent_user %}
                            <p>{{ selected_client_profile.full_name }}</p>
                            <a href="#">View Full Profile</a>
                            <p>Name: {{ selected_client_profile.first_name }}</p>
                            <p>Surname: {{ selected_client_profile.last_name }}</p>
                        {% endif %}
                    </div>
                    <!-- end client short bio -->
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->
    <!--Message bar  section -->
    <section class="chat-room-footer">
        <div class="MessageBar online">
            <div class="MessageBar-attachments">
            </div>
            <form id="chatform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea type="text" name="message" id="message" class="MessageBar-input"
                          placeholder="Type your Message"></textarea>
                <div class="ShareBar">
                    <div class="ShareButton">
                        <label for="attachment">
                            <svg width="25" height="25" viewBox="0 0 25 20" aria-label="Camera"
                                 xmlns="http://www.w3.org/2000/svg"><title>Camera</title>
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#999" fill-rule="evenodd"
                                          d="M23.065 3.171h-4.207a1.115 1.115 0 0 1-.975-.548l-.82-1.442C16.65.452 15.843 0 14.958 0H9.761c-.884 0-1.69.452-2.106 1.182l-.816 1.44a1.121 1.121 0 0 1-.976.55H1.657C.742 3.171 0 3.863 0 4.715v12.876c0 .851.742 1.544 1.657 1.544h21.408c.913 0 1.657-.693 1.657-1.544V4.716c0-.852-.744-1.545-1.657-1.545zM8.78 1.737c.193-.339.57-.55.98-.55h5.197c.412 0 .787.211.979.55l.816 1.434H7.969l.812-1.434zm14.666 15.855c0 .196-.171.356-.382.356H1.657c-.211 0-.383-.16-.383-.356V4.716c0-.196.172-.357.383-.357h21.408c.211 0 .382.16.382.357v12.876zM12.361 5.808c-3.163 0-5.735 2.398-5.735 5.345 0 2.948 2.572 5.347 5.735 5.347 3.161 0 5.734-2.399 5.734-5.347 0-2.947-2.573-5.345-5.734-5.345zm0 9.504c-2.46 0-4.46-1.866-4.46-4.159 0-2.293 2-4.158 4.46-4.158 2.459 0 4.46 1.865 4.46 4.158s-2.001 4.159-4.46 4.159zm9.05-7.986c0 .591-.513 1.07-1.146 1.07-.635 0-1.147-.479-1.147-1.07 0-.59.512-1.069 1.147-1.069.633 0 1.146.479 1.146 1.07z"></path>
                                </g>
                            </svg>
                        </label>
                        <input accept="image/jpeg, image/png" style="display: none;" type="file" id="attachment"
                               name="attachment" class="input-file">
                    </div>
                </div>
                <input class="MessageBar-send" value="Send" type="submit">
            </form>
            <div class="GlobalNav-bubbles MessageBar-bubbles MessageBar-bubbles--ShareBar"></div>
        </div>
    </section>
    <script type="text/javascript" src='{% static "chat/js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat/js/reconnecting-websocket.min.js" %}'></script>
    {% if selected_client_room %}
        <script type='text/javascript'>
            $(document).ready(function () {
                $('input[type="file"]').change(function (e) {
                    var fileName = e.target.files[0].name;
                    $('.MessageBar-attachments').html('<span>' + fileName + '</span>')
                });

                // When we're using HTTPS, use WSS too.
                var room = {{ selected_client_room }};
                var site_url = window.location.host;
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + '/chat/' + room);
                chatsock.timeoutInterval = 3600;
                chatsock.onmessage = function (message) {
                    var data = JSON.parse(message.data);
                    if (data.agent_name) {
                        $('#agent-name').text('You are chatting to: ' + data.agent_name);
                    }
                    else {
                        var chat = $('#chat');
                        if (data.file_name == null) {
                            var ele = '<div class="Message employee">' +
                                    '<div class="Message-icon">' +
                                    '<div class="Message-icon">' +
                                    '<div class="Message-iconImage" src="https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg"' +
                                    'style="background-image: url(&quot;https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg&quot;);">' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="Message-parts">' +
                                    '<div class="Message-partHeader">' +
                                    '<strong>' + data.user_handle + '</strong>' +
                                    '<small title="' + data.timestamp + '">' + data.timestamp + '</small>' +
                                    '</div>' +
                                    '<div class="Message-part">' +
                                    '<span>' + data.message + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';
                        }
                        else {
                            var ele = '<div class="Message employee">' +
                                    '<div class="Message-icon">' +
                                    '<div class="Message-icon">' +
                                    '<div class="Message-iconImage" src="https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg"' +
                                    'style="background-image: url(&quot;https://trunkclub-avatars.s3.amazonaws.com/employee/thumb/thumb_031c0f8a81a8d53fcddd2dce27f1d0a9.jpg&quot;);">' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="Message-parts">' +
                                    '<div class="Message-partHeader">' +
                                    '<strong>' + data.user_handle + '</strong>' +
                                    '<small title="' + data.timestamp + '">' + data.timestamp + '</small>' +
                                    '</div>' +
                                    '<div class="Message-part">';
                            if (data.message) {
                                ele = ele + '<span>' + data.message + '</span></br>' +
                                        '<span><a href="' + site_url + data.file_link + '">' +
                                        data.file_name +
                                        '</a></span>';
                            } else {
                                ele = ele + '<span><a href="' + site_url + data.file_link + '">' + data.file_name +
                                        '</a></span>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>';
                            }


                        }
                        chat.append(ele);
                    }
                };

                $("#chatform").on("submit", function (event) {
                    event.preventDefault();
                    if ($('#attachment').get(0).files.length === 0) {
                        var message = {
                            message: $('#message').val()
                        };
                        chatsock.send(JSON.stringify(message));
                        $("#message").val('').focus();
                        return false;
                    } else {
                        var formdata = new FormData(this);
                        formdata.append("room", room);
                        var url = window.location.protocol.toString() + '//' + window.location.host + '/chat/file/';
                        $.ajax({
                            url: url,
                            type: "POST",             // Type of request to be send, called as method
                            data: formdata, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                            mimeTypes: "multipart/form-data",
                            contentType: false,       // The content type used when sending data to the server.
                            cache: false,             // To unable request pages to be cached
                            processData: false,        // To send DOMDocument or non processed data file it is set to false
                            success: function (data)   // A function to be called if request succeeds
                            {
                            }
                        });
                    }


                });

                //File upload
                $("#uploadimage").on('submit', (function (e) {
                    e.preventDefault();

                }));
            });
        </script>
    {% else %}
        <script type='text/javascript'>
            $(document).ready(function () {
                $('input[type=submit]', this).attr('disabled', 'disabled');
            });
        </script>
    {% endif %}
{% endblock %}
