{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Chat Room{% endblock %}

{% block content %}
    <!-- Start section -->

    <section class="chat-container ">
        <div class="benefits text-center">
            <div class="container panel panel-default">
                <div class="row ">
                    <div class=" col-md-2">
                        {% if agent_user %}
                            <div class="box-chat">
                                <div class="chat-titre">
                                    <strong>MY CLIENTS</strong>
                                </div>
                                {% if my_clients %}
                                    <ul>
                                        {% for client_room in my_clients %}
                                            <li>
                                                <a href="{% url 'chat:chat-room' client_room.id %}">{{ client_room.client }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p> No clients available</p>
                                {% endif %}
                                <div class="chat-titre">
                                    <strong>UNASSIGNED CLIENTS</strong>
                                </div>

                                {% if unassigned_clients %}
                                    <ul>
                                        {% for client_room in unassigned_clients %}
                                            <li>
                                                <a href="{% url 'chat:chat-room' client_room.id %}">{{ client_room.client }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p> No unassigned clients available</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% if agent_user %}
                        <div class="col-md-10">
                        <div class="col-md-8">
                    {% else %}
                        <div class="col-md-12">
                        <div class="col-md-12">
                    {% endif %}
                    <div class="box-chat">
                        {% if agent_user %}
                            <strong class="client-name">You are chatting
                                to {{ selected_client_profile.username }}</strong>
                        {% endif %}
                        <hr class="style-two">
                        <div class="chat-messages">
                            {% if not selected_client_room %}
                                <img class="center" src="{% static 'chat/images/zzz.png' %}"/>
                                <p class="center">Please select a client to start chatting</p>
                            {% endif %}
                            <table id="chat">
                                <tbody>
                                {% if messages %}
                                    {% for msg in messages %}
                                        <tr>
                                            <td>{{ msg.timestamp|date:"r" }}</td>
                                            <td>{{ msg.sent_by }}</td>
                                            <td>{{ msg.text }}</td>
                                            {% if msg.attachment %}
                                                <td><a href="{{ msg.attachment }}"> {{ msg.filename }}</a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <div class="no-client">
                                        <p> No client selected</p>
                                        <hr class="style-two">
                                    </div>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    {% if agent_user %}
                        <div class="col-md-4">
                            <p>USER SHORT BIO</p>
                        </div>
                    {% endif %}
                    </div>
                    </div>
                <hr class="style-two">
                    <div class="row">
                        <form class="form-inline chat-form" id="uploadimage" action="" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="attachment" id="attachment" required/>
                            <input type="submit" value="Upload" class="submit"/>
                        </form>
                        <form role="form" class="form-inline chat-form" id="chatform">
                            <div class="row">
                    <textarea type="text" class="col-xs-11" name="message" id="message"
                              placeholder="Type your message"></textarea>
                                <input type="submit" class="btn btn-lg bold col-xs-1" value="Send"/>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>

    </section>
    <!-- End section -->
    <script type="text/javascript" src='{% static "chat/js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat/js/reconnecting-websocket.min.js" %}'></script>
    {% if selected_client_room %}
        <script type='text/javascript'>
            $(document).ready(function () {
                // When we're using HTTPS, use WSS too.
                var room = {{ selected_client_room }};
                var site_url = window.location.host;
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + '/chat/' + room);
                chatsock.timeoutInterval = 3600;
                chatsock.onmessage = function (message) {
                    var data = JSON.parse(message.data);
                    console.dir(data);
                    var chat = $('#chat  > tbody:last-child');
                    if (data.file_name == null) {
                        var ele = '<tr>' +
                                '<td>' + data.timestamp + '</td>' +
                                '<td>' + data.user_handle + '</td>' +
                                '<td>' + data.message + '</td>' +
                                '<td></td>'
                        '</tr>';
                    }
                    else {
                        var ele = '<tr>' +
                                '<td>' + data.timestamp + '</td>' +
                                '<td>' + data.user_handle + '</td>' +
                                '<td>' + data.message + '</td>' +
                                '<td><a href="' + site_url + data.file_link + '">' + data.file_name + '</a></td>' +
                                '</tr>';
                    }
                    chat.append(ele)
                };

                $("#chatform").on("submit", function (event) {
                    var message = {
                        message: $('#message').val(),
                    };
                    chatsock.send(JSON.stringify(message));
                    $("#message").val('').focus();
                    return false;
                });

                //File upload
                $("#uploadimage").on('submit', (function (e) {
                    e.preventDefault();
                    var formdata = new FormData(this);
                    formdata.append("room", room);
                    var url = window.location.protocol.toString() + '//' + window.location.host + '/chat/file/';
                    $.ajax({
                        url: url,
                        type: "POST",             // Type of request to be send, called as method
                        data: formdata, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                        mimeTypes: "multipart/form-data",
                        contentType: false,       // The content type used when sending data to the server.
                        cache: false,             // To unable request pages to be cached
                        processData: false,        // To send DOMDocument or non processed data file it is set to false
                        success: function (data)   // A function to be called if request succeeds
                        {
                            console.log('File sent');
                            console.log(data);
                        }
                    });
                }));
            });
        </script>
    {% else %}
        <script type='text/javascript'>
            $(document).ready(function () {
                $('input[type=submit]', this).attr('disabled', 'disabled');
            });
        </script>
    {% endif %}
{% endblock %}
