{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
    <section class="update-container">
        <div class="text-center">

            <h2>Edit your profile</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <span>Purchase Step</span>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>Marital Status</span>

                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>First home</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>House Type</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>Preferred City</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>Maximum Budget</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>Current Rent</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>How Soon</span>


                        </a>
                        <a href="#" class="list-group-item text-center">
                            <span>Personal Profile</span>


                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <h3>Purchase Step</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for value, name in purchase_step_form.fields.purchase_step.choices %}

                                <label class="radio">
                                    <input type="radio" name="purchase_step" value="{{ value }}"
                                            {% if value == purchase_step_form.initial.purchase_step %}
                                           checked {% endif %}>
                                    <p>
                                        <span>
                                            {% if not value and not value == 0 %}
                                                I'd rather not say
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                        </span>
                                    </p>
                                </label>
                            {% endfor %}
                            <input class="btn btn-brown" type="submit" name="purchase_step_form" value="Update"/>
                        </form>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <h3>Marital Status</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="radio-group">
                                {% for value, name in marital_status_form.fields.status.choices %}

                                    <label class="radio">
                                        <input type="radio" name="status" value="{{ value }}"
                                                {% if value == marital_status_form.initial.status %}
                                               checked {% endif %}>
                                        <p>
                                        <span>
                                            {% if not value and not value == 0 %}
                                                I'd rather not say
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                        </span>
                                        </p>
                                    </label>
                                {% endfor %}
                            </div>
                            <input class="btn btn-brown" type="submit" name="marital_status_form" value="Update"/>
                        </form>
                    </div>

                    <div class="bhoechie-tab-content">
                        <h3>Is this your first home?</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div id="ck-button">
                                <label>
                                    <input type="checkbox" name="firsthome" value="1"
                                            {% if first_home_form.initial.firsthome %}
                                               checked
                                            {% endif %}
                                    ><span>First Home...</span>
                                </label>
                            </div>
                            <input class="btn btn-brown" type="submit" name="first_home_form" value="Update"/>
                        </form>
                    </div>

                    <div class="bhoechie-tab-content">
                        <h3>House Type</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <fieldset>
                                {% for value, name in house_type_form.fields.house_type.choices %}

                                    <label class="radio">
                                        <input type="radio" name="house_type" value="{{ value }}"
                                                {% if value == house_type_form.initial.house_type %}
                                               checked {% endif %}>
                                        <p>
                                        <span>
                                            {% if not value and not value == 0 %}
                                                I'd rather not say
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                        </span>
                                        </p>
                                    </label>
                                {% endfor %}
                            </fieldset>
                            <h3>House Age</h3>
                            <fieldset>
                                {% for value, name in house_type_form.fields.house_age.choices %}

                                    <label class="radio">
                                        <input type="radio" name="house_age" value="{{ value }}"
                                                {% if value == house_type_form.initial.house_age %}
                                               checked {% endif %}>
                                        <p>
                                        <span>
                                            {% if not value and not value == 0 %}
                                                I'd rather not say
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                        </span>
                                        </p>
                                    </label>
                                {% endfor %}
                            </fieldset>
                            <h3>House Condition</h3>
                            <fieldset>
                                {% for value, name in house_type_form.fields.house_cond.choices %}

                                    <label class="radio">
                                        <input type="radio" name="house_cond" value="{{ value }}"
                                                {% if value == house_type_form.initial.house_cond %}
                                               checked {% endif %}>
                                        <p>
                                        <span>
                                            {% if not value and not value == 0 %}
                                                I'd rather not say
                                            {% else %}
                                                {{ name }}
                                            {% endif %}
                                        </span>
                                        </p>
                                    </label>
                                {% endfor %}
                            </fieldset>
                            <input class="btn btn-brown" type="submit" name="house_type_form" value="Update"/>
                        </form>
                    </div>

                    <div class="bhoechie-tab-content">
                        <h3>City</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ city_form|crispy }}
                            <input class="btn btn-brown" type="submit" name="city_form" value="Update"/>
                        </form>
                    </div>

                    <div class="bhoechie-tab-content">
                        <h3>Max Budget</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ max_budget_form|crispy }}
                            <input class="btn btn-brown" type="submit" name="max_budget_form" value="Update"/>
                        </form>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <h3>Current Rent</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ current_rent_form|crispy }}
                            <input class="btn btn-brown" type="submit" name="current_rent_form" value="Update"/>
                        </form>
                    </div>
                    <div class="bhoechie-tab-content">
                        <h3>How soon would you like to buy</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ how_soon_form|crispy }}
                            <input class="btn btn-brown" type="submit" name="how_soon_form" value="Update"/>
                        </form>
                    </div>
                    <div class="bhoechie-tab-content">
                        <h3>Personal Profile</h3>
                        <form action="" method="post" class="signup">
                            {% csrf_token %}
                            {{ personal_profile_form|crispy }}
                            <input class="btn btn-brown" type="submit" name="personal_profile_form" value="Update"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>
{% endblock %}

