/* Start Intro */
.hw-container {
  .header {
    background: url('../images/header%20(2).jpg') no-repeat center 40%
  }

  .header .card {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 25px 10px;
    background-color: #FFF;
    height: 530px;
    width: 320px;
    box-shadow: 0 0 1px 1px darkgrey;
    margin-left: 10px;
  }

  .header .card .logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 50%;
    width: 60px;
    height: 62px;
    line-height: 82px;
    background-color: #FFF
  }

  .header .card h2 {
    font-family: 'Domine', serif;
    line-height: 1.3;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
  }

  .short-bar {
    width: 25px;
    text-align: center;
    border-top: 2px solid #B77E66;
    margin-top: 30px;
    margin-bottom: 30px;
    &.tighter {
      margin: 15px auto;
    }
  }

  .fixed-height-540 {
    @media (min-width: 800px) {
      height: 540px !important;
    }
  }

  .header .card p {
    font-size: 17px;
    line-height: 27px
  }

  .header .card .descreption {
    padding: 10px 0 15px;
  }

  .header .card a {
    border: 0;
    border-radius: 50px;
    padding: 11px 30px;
    color: #FFF
  }

  .header .card a:hover {
    background-color: #a5725d;
  }

  /* End Intro */

  /* Start Sub Navbar*/

  .sub-nav {
    border-bottom: 1px solid #ededed;
    max-height: 70px;
    overflow: hidden
  }

  .sub-nav ul {
    margin-bottom: 0
  }

  .sub-nav ul li {
    padding: 27px 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .5px;
    cursor: pointer
  }

  .sub-nav ul li a {
    text-decoration: none
  }

  .sub-nav ul li .active {
    padding-bottom: 23px;
    border-bottom: 3px solid #a5725d;
    color: #a5725d
  }

  .fixed {
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 99999
  }

  /* End Sub Navbar*/

  /* Start How It Works Section */

  .how-works {
    padding-top: 140px;
    padding-bottom: 75px
  }

  .how-works .h1 {
    font-size: 48px;
    font-family: 'Domine', serif
  }

  .how-works > p {
    font-size: 25px
  }

  /* Start Timeline */

  .how-works .time-path {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
  }

  .how-works .time-path .timeline {
    position: absolute;
    width: 2px !important;
    height: 86%;
    top: 14%;
    left: calc(50% - 1px);
    background-color: #dad4c8;
    padding: 0
  }

  .how-works .time-path .scroll.timeline {
    height: 0%;
    background-color: #a5725d;
    max-height: 86%;
  }

  .how-works .time-path .progress-bar {
    position: absolute;
    width: 4px;
    top: 0;
    height: 0;
    max-height: 99.93%;
    left: 0;
    background-color: #b77d64;
  }

  /* number circles */

  @media (min-width: 800px) {
    .block:nth-child(odd):before {
      left: auto;
      right: 0;
      transform: translate(50%, -50%);
    }

    .block:after, .blocks:before {
      top: 50%;
    }

    .block:before {
      content: counter(my-counter);
      counter-increment: my-counter;
      counter-reset: mycounter;
      position: absolute;
      text-align: center;
      line-height: 36px;
      top: 50%;
      left: 0;
      right: auto;
      width: 37px;
      height: 37px;
      border-radius: 30px;
      background-color: #fff;
      border: 1px solid #232e39;
      color: #232e39;
      z-index: 10;
      transform: translate(-50%, -20%);
      transition: background .2s cubic-bezier(.55, .09, .68, .53), color .2s cubic-bezier(.55, .09, .68, .53);
    }

    .r:before {
      top: 48%
    }

  }

  @media (min-width: 800px) {
    .block:nth-child(odd):after {
      right: 0;
      left: auto
    }

    .block:after {
      content: '';
      position: absolute;
      background-color: #b77d64;
      height: 4px;
      width: 0;
      transition: width .2s cubic-bezier(.55, .09, .68, .53);
    }

    .r:after {
      left: 0px
    }

  }

  .how-works .blocks {
    margin-top: 50px;
  }

  .how-works .blocks h3 {
    font-size: 20px;
    padding-bottom: 15px
  }

  .how-works .blocks .block .caption {
    font-size: 18px;
    background-color: #fafafa;
    padding: 25px 32px;
  }

  .how-works .blocks .block .caption,
  .how-works .blocks .block img {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .2);
  }

  .how-works .blocks .active-l:before,
  .how-works .blocks .active-r:before {
    background-color: #232F39;
    color: #FFF
  }

  .how-works .blocks .active-r:after {
    width: 26px;
    left: 19px
  }

  .how-works .blocks .active-l:after {
    width: 45px
  }

  .how-works .blocks .l {
    padding-left: 0;
    padding-right: 45px
  }

  .how-works .blocks .l:not(:first-of-type) {
    margin-top: -150px;
    margin-bottom: 60px
  }

  .how-works .blocks .r {
    padding-left: 45px;
    padding-right: 0;
    margin-top: 320px
  }

  .how-works .block img {
    width: 100%;
  }

  @media(max-width: 767px) {

    .how-works .blocks .l {
      padding-right: 5px;
      margin-top: 0 !important
    }

    .how-works .blocks .r {
      padding-left: 0;
      margin-bottom: 15px;
      margin-top: 15px
    }

    .how-works .blocks img {
      width: 100%
    }
  }

  .how-works .blocks .btn {
    color: #FFF;
    border: 0;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer
  }

  .how-works .blocks .btn:hover {
    background-color: #a5725d;
    color: #FFF
  }

  .how-works .blocks .btn a {
    padding: 0;
    color: #FFF;
  }

  .how-works .blocks .btn a:hover {
    text-decoration: none
  }

  /* End Timeline */

  /* End How It Works Section */

  /* Start Cost Section */

  .cost {
    padding-top: 90px;
    padding-bottom: 110px;
    color: #4a4a4a
  }

  .cost .h1 {
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    margin-top: 0
  }

  @media (min-width: 1200px) {

    .cost .container .expect {
      width: 880px;
    }

  }

  #why li > span,
  #why p,
  #benefits .text-serif,
  .cost .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    text-align: left;
  }

  #benefits h2 {
    font-size: 48px;
  }

  #benefits .box p + p {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }

  #benefits .box p:first-of-type {
    margin: 0;
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    font-weight: bold;
  }

  #benefits .box img {
    height: 120px;
    margin-bottom: 20px;
  }

  .cost .setPrice {
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 18px
  }

  .cost i {
    padding-top: 40px;
    border: 1px solid #B77E66;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 0;
  }

  .cost .row p:not(.price) {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 20px;
    margin-bottom: 5px
  }

  .cost .price {
    font-size: 18px;
    line-height: 27px;
  }

  .cost .row div {
    padding-top: 20px;
    padding-bottom: 40px
  }

  .cost .btn {
    margin-top: 40px;
    color: #FFF;
    border: 0;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer
  }

  .cost .btn:hover {
    background-color: #a5725d;
    color: #FFF
  }

  .cost .btn a {
    padding: 0;
    color: #FFF;
  }

  .cost .btn a:hover {
    text-decoration: none
  }

  /* End Cost Section */

  /* Start expect Section */

  .expect {
    background: url('../images/expect.jpeg') no-repeat center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #4a4a4a
  }

  .expect .card {
    background-color: #FFF;
    border-radius: 2px;
    padding: 0 20px 40px;
    margin: auto;
    width: 450px;

    &.corrected {
      box-shadow: none !important;
      padding-top: 30px;
    }
  }

  .expect .h1 {
    font-size: 26px;
    line-height: 38px;
  }

  .expect p {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 30px
  }

  .expect ul li {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    display: block !important;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #dfdfdf;
    text-align: left
  }

  .expect ul li:last-of-type {
    border-bottom: 1px solid #dfdfdf;
  }

  .expect .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
    border: 0;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer
  }

  .expect .btn:hover {
    background-color: #a5725d;
    color: #FFF
  }

  .expect .btn a {
    padding: 0;
    color: #FFF;
  }

  .expect .btn a:hover {
    text-decoration: none
  }

  /* End expect Section */

  /* Start Find Section */

  .find {
    background: url('../images/DreamHouse.jpg') fixed no-repeat center;
  }

  .find .overlay {
    background: rgba(9, 9, 9, .7);
    min-height: 550px;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #FFF
  }

  .find .last {
    margin-bottom: 20px
  }

  .find .h1 {
    padding-top: 20px;
    padding-bottom: 40px
  }

  .find h3 {
    text-align: left;
    padding-bottom: 10px
  }

  .find select {
    width: 100%;
    border: 1px solid darkgrey;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(109, 103, 103, 0.7);
    color: #FFF;
    border: none;
    font-size: 18px
  }

  .find form {
    padding-top: 90px;
    margin-top: 20px
  }

  .find form .form-control {
    background-color: rgba(109, 103, 103, 0.7);
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
    width: 60%;
    display: inline-block
  }

  .find .form-control::-webkit-input-placeholder {
    color: #FFF;
  }

  /* WebKit, Blink, Edge */
  .find .form-control:-moz-placeholder {
    color: #FFF;
  }

  /* Mozilla Firefox 4 to 18 */
  .find .form-control::-moz-placeholder {
    color: #FFF;
  }

  /* Mozilla Firefox 19+ */
  .find .form-control:-ms-input-placeholder {
    color: #FFF;
  }

  /* Internet Explorer 10-11 */
  .find .form-control::-ms-input-placeholder {
    color: #FFF;
  }

  /* Microsoft Edge */

  .find .btn {
    border: 0;
    border-radius: 0 5px 5px 0;
    padding: 11px 30px;
    background-color: #B77E66;
  }

  @media(max-width: 768px) {
    .find .btn {
      margin-top: -5px
    }
  }

  .find .btn:hover {
    background-color: #a5725d;
    color: #FFF
  }

  .find .btn a {
    padding: 0;
    color: #FFF;
  }

  .find .btn a:hover {
    text-decoration: none
  }

  /* End Find Section */

  /*Start Evaluate Section */

  .evaluate {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #fafafa
  }

  .evaluate .h1 {
    padding-bottom: 50px
  }

  .evaluate .box img {
    box-shadow: 3px 3px 10px #000;
  }

  .evaluate .box p {
    padding: 15px 5px 0
  }

  .evaluate .box ul li {
    padding: 0 5px 0
  }

  .evaluate .box ul li {
    display: inline-block
  }

  .evaluate .box .sell h2 {
    margin: 0
  }

  .evaluate .box .sell .btn {
    margin-top: 15px;
    border: 0;
    border-radius: 50px;
    padding: 11px 30px;
  }

  .evaluate .box .sell .btn:hover {
    background-color: #a5725d;
  }

  .evaluate .box .sell .btn a {
    padding: 0;
    color: #FFF;
  }

  .evaluate .box .sell .btn a:hover {
    color: #FFF;
    text-decoration: none
  }

  /*End Evaluate Section */

  /* Start Benefits Section */

  .benefits {
    padding-bottom: 70px;
    padding-top: 60px
  }

  .benefits .box {
    padding-top: 45px
  }

  .benefits .box i {
    color: #e2dddd;
    border: none;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    line-height: 95px;
    margin-bottom: 20px
  }

  .benefits .box .fa-wifi {
    line-height: 105px
  }

  .benefits .box .lead {
    padding-top: 10px;
    padding-bottom: 10px
  }

  .benefits p:not(.lead) {
    padding: 0 20px
  }

  /*End Benefits Section */

  /* Start Contact us Section */

  .contact-us {
    background: url('../images/contact.jpeg') no-repeat center center;
  }

  .contact-us .overlay {
    background: rgba(250, 250, 250, .6);
    min-height: 400px;
    color: #DDD;
    padding-bottom: 60px;
    padding-top: 50px;
  }

  .contact-us p {
    margin-bottom: 40px
  }

  .contact-us .form-control::-webkit-input-placeholder {
    color: #232F39;
  }

  /* WebKit, Blink, Edge */
  .contact-us .form-control:-moz-placeholder {
    color: #232F39;
  }

  /* Mozilla Firefox 4 to 18 */
  .contact-us .form-control::-moz-placeholder {
    color: #232F39;
  }

  /* Mozilla Firefox 19+ */
  .contact-us .form-control:-ms-input-placeholder {
    color: #232F39;
  }

  /* Internet Explorer 10-11 */
  .contact-us .form-control::-ms-input-placeholder {
    color: #232F39;
  }

  /* Microsoft Edge */

  .contact-us textarea {
    height: 108px
  }

  .contact-us input[type='text'],
  .contact-us textarea {
    background-color: rgba(109, 103, 103, 0.7);
    color: #FFF;
    border: none

  }
}

#how .btn {
  position: relative;
  left: 10px;
  color: #FFF;
  border: 0;
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;

  &:hover {
    background-color: #a5725d;
  }
}

.block.active:before {
  color: #fff;
  background-color: #232e39;
}

.no1:before {
  counter-increment: my-counter 1 !important;
}

.no2:before {
  counter-increment: my-counter 2 !important;
}

.no3:before {
  counter-increment: my-counter 3 !important;
}

.no4:before {
  counter-increment: my-counter 4 !important;
}

.no5:before {
  counter-increment: my-counter 5 !important;
}

#pricing {

  background-image: url(https://static.pexels.com/photos/164558/pexels-photo-164558.jpeg);
  background-color: #C2C0CB;

  & div {
    max-width: 560px;
    padding: 60px 45px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    @media (min-width: 800px) {
      margin-right: 25px;
    }
  }

  & .description {
    font-weight: bold;
  }

  @media (min-width: 800px) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    padding: 40px 0 50px;

    & h2 {
      font-size: 48px;
    }

  }

}

#why.modified {

  background-image: url(../../images/expect.jpeg);
  background-color: #C2C0CB;

  & > div {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
  }

  @media (min-width: 800px) {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    padding: 90px 0 120px;

    & h2 {
      font-size: 48px;
    }

  }

}

/* End Contact us Section */
