{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner %}
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1>{% trans "Account Inactive" %}</h1>
                </div>
                <p>{% trans "This account is inactive." %}</p>\
            </div>
        </div>
    </section>
{% endblock %}

