{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner %}
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1>{% trans "Sign Up Closed" %}</h1>
                </div>
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </section>
{% endblock %}

