html,body{overflow-x: hidden;color:#4a4a4a}

.back-darkBlue{background-color:#022d46}

.bold{font-weight: bold}

@media (min-width: 1200px){
    
    .container 
    {
        width: 1249px;
    }

}

.droid{font-family: 'Droid Sans', sans-serif;}

.domine{font-family: 'Domine', serif;}

button
{
    background-color: transparent;
    border: none;
}

/* Star Banner Section */

.banner{height: 45px;color: #FFF;}

.banner h4
{
    letter-spacing: 1.3px;
    font-size: 19px;
    transform: scale(1.2, 1);
    margin-top: 13px;
    font-weight: 600;
}

/* End Banner Section */

/* Start Categories Section */

.categories{padding: 16px;}

.categories p{margin-bottom: 0}

.categories .header{margin: 40px auto 20px; max-width: 600px}

.categories .header h1
{   padding-bottom: 10px;
    color: #4a4a4a;
    font-size: 31px;
    font-family: serif;
    margin: 0
}

.categories .header h3{font-size: 18px; margin: 0}

.categories .button-select
{
    max-width: 700px;
    margin: 65px auto 35px
}

.categories .button-select .home
{
    margin-bottom: 60px;
    max-width: 140px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block
}

.categories .button-select .home:last-of-type{padding-right: 20px;padding-left: 20px}

.categories .button-select .home button
{
    min-width: 100px;
    min-height: 73px;
    cursor: pointer;
    background-color: #fff; 
    white-space: nowrap;
    vertical-align: middle;
}

.categories .button-select .home button .icon,
.categories .button-select .home button i
{
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
}

.categories .button-select .home button:hover i,
.categories .button-select .home button:hover .icon 
{
    background-color: #f9f2ed;
    border: none;
}


    .categories .button-select .home:not(:nth-of-type(4)) button .icon:before
{
    content: '';
        position: absolute;
        background-color: #b77d64;
        height:3px;
        width: 86px;
        top: 229px;
        margin-left: 19px;
}

@media(max-width:571px)
{
    .categories .button-select .home button .icon:before{display: none}
}

.categories .button-select .home button .icon{margin:auto}

.categories .button-select .home button .status
{
    margin-top: 15px;
    display: block;
    font-weight: bold;
    color:#4a4a4a
}

.categories .button-select .home button:hover .status {color: #B77E66}

.categories .skip
{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    padding: 12px 20px;
}

/* End Categories Section */

/* Start Footer Section */

.footer
{   margin-top: 200px;
    background-color: #022d46;
    height: 65px;
}

.footer a
{   
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top: 22.5px;
}

.footer a:last-child{font-size: 14px;transform: scale(1.1, 1)}

.footer .lead{padding-top: 17px;margin-bottom: 0}

/* End Footer Section */