{% extends 'base.html' %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
    <p>
	We are group of friendly techies living in Silicon Valley
    <ol>
        <li>We like to help others to have pleasant house buying experience </li>
        <li>Give honest opinions and get right deals</li>
    </ol>
    </p>
    {% include 'partials/nav-bar.html' %}
  {% endblock %}
</body>
</html>
