/* Start Categories Section */

.categories{padding: 16px;}

.categories p{margin-bottom: 0}

.categories .header{margin: 40px auto 20px; max-width: 600px}

.categories .header h1
{   padding-bottom: 10px;
    color: #4a4a4a;
    font-size: 31px;
    font-family: serif;
    margin: 0
}

.categories .header h3{font-size: 18px; margin: 0}

.categories .button-select
{
    max-width: 700px;
    margin: 65px auto 87px
}

.categories .button-select button
{
    padding: 10px 5px;
    cursor: pointer;
    background-color: #fff; 
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #232F39;
    border-radius: 22px;
}

.categories .button-select  button:hover  
{
    background-color: #f9f2ed;
    border: none;
}

.col-xs-offset-2 {margin-left: 20.666667%;}

/* End Categories Section */

