/* Start Framework */

input[type="text"]{box-shadow: none}

input[type="text"]:focus
{
    box-shadow: none;
    border: 1px solid #B77E66;
    
}

/* End Framework */

/* Start Categories Section */

.categories{padding: 16px;}

.categories p{margin-bottom: 0}

.categories .header{margin: 40px auto 20px; max-width: 800px;padding-right: 20px;}

.categories .header h1
{   padding-bottom: 10px;
    font-size: 31px;
    margin: 0;
    letter-spacing: 1.5px
}

.categories .header h1 p{padding-top: 10px}

.categories .header h3{font-size: 18px; margin: 0}

.categories .form-inline
{
    position: relative;
    width: 150px;
    margin: 35px auto -5px
}

.categories .form-inline input[type="number"]
{
    width: 150px;
    padding-left: 25px;
    margin-right: 5px;
}

.categories .form-inline .dollar-sign
{
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 10px;
    color: #999;
    font-size: 20px;
}

.categories .continue,
.categories .next
{
    width: 200px;
    padding: 12px 20px;
    border:none;
    color: #fff;
    background-color: #bc8067;
    border-radius: 22px;
    margin-top: 30px; 
    margin-bottom: 25px 
}

/* End Categories Section */

