{% extends "base_onboarding.html" %}
{% block content %}

      <link href="{% static 'css/onboarding_list_options.css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <h1 class="textSerif">What step are you in?</h1>

              <a href="onboarding/prepare/profile">
                <div class="btn sans center-block">Decide & prepare</div>
              </a>
                <div class="btn sans center-block">Evaluate & put an offer</div>
                <div class="btn sans center-block">Home owner benefits</div>

            </div>
        </section>

        <!-- End Categories section -->

{% endblock %}
