{% extends "base.html" %}

{% block content %}
         <!-- Start Text section -->

        <section  class="text">
            <div class="container" >
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-center brown textSerif">
                            Purchase section placeholder
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Text section -->
{% endblock %}
