{% extends 'base_logged_in.html' %}
{% load staticfiles %}
{% block title %}Discover{% endblock %}

{% block content %}
    <!-- Start section -->
    <section id="discover-container">
        <div class="text-center">
            <div class="col-xs-12 tab-container">
                <div class="col-xs-12 tab-menu">

                    <div class="tab-options">
                        <a href="#" class="text-center active">
                            <span>Checkpoints</span>
                        </a>
                        <a href="#" class="text-center">
                            <span>Locality</span>
                        </a>
                        <a href="#" class=" text-center">
                            <span>Blogs</span>
                        </a>
                        <a href="#" class=" text-center">
                            <span>Trends</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 tabs">
                    <div class="tab active">
                        <div class="sub-section">
                            <h2 class="textSerif">Covering the basics</h2>
                            <div class="flex">
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:rent-buy' %}"><span>Evaluate buy vs rent</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:personal-finance' %}"><span>Personal finance and readiness</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:house-select' %}"><span>Type of houses - selection</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:house-loan' %}"><span>Mortgage/housing loan</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:location' %}"><span>Location selection</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:agent-selection' %}"><span>Agent (Mortgage & Real estate)</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="{% url 'discover:your-journey' %}"><span>Your journey</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="sub-section">
                            <h2 class="textSerif">Local Developments</h2>
                            <div class="flex">
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-section">
                            <h2 class="textSerif">Statistics</h2>
                            <div class="flex">
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="sub-section">
                            <h2 class="textSerif">Quora Posts</h2>
                            <div class="flex">
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                                <div class="article">
                                    <div class="image-placeholder"></div>
                                    <a href="#"><span>###</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="sub-section">
                            <h2 class="textSerif">Blogs - covering personal experiences about pain points, gotchas during house buy</h2>
                            <div class="flex">
                                <div class="article full-width">
                                    <div class="date-container">
                                        <p>18 November 2014</p>
                                    </div>
                                    <div class="content-container">
                                        <div class="wording-container">
                                            <p class="title">Facebook at work to take on LinkedIn and Google Drive</p>
                                            <p class="description">Have yur word on the social network's move into business. Spotify's Uber deal Google's project Tango and more.</p>
                                            <p class="social-buttons">
                                                <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 7:30am</span>
                                                <span class="shares"><i class="fa fa-envelope" aria-hidden="true"></i> 475</span></p>
                                        </div>
                                        <div class="image-container"></div>
                                    </div>
                                </div>
                                <div class="article full-width">
                                </div>
                                <div class="article full-width">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="sub-section">
                            <h2 class="textSerif">News articles - Upcoming development/projects, growth areas, Stats</h2>
                            <div class="flex">
                                <div class="article">
                                </div>
                                <div class="article">
                                </div>
                                <div class="article">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.discover-tab').addClass('is-active');
            $(".tab-options>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $(".tab").removeClass("active");
                $(".tab").eq(index).addClass("active");
            });
        });

    </script>
{% endblock %}
