 <section class="base-footer">
     <div class="footer back-darkBlue ">
         <div class="container">
             <div class="row">
                 <div class="col-lg-2 col-sm-6">
                     <h3 class="textSerif">Real Pal</h3>
                     <ul class="list-unstyled site-map sans">
                         <li><a href="{% url 'mainapp:prepare' %}">Prepare</a></li>
                         <li><a href="{% url 'mainapp:purchase' %}">Purchase</a></li>
                         <li><a href="{% url 'mainapp:own' %}">Own</a></li>
                         <li><a href="#">Investor</a></li>
                         <li><a href="#">Sign In</a></li>
                     </ul>
                 </div>
                 <div class="col-lg-2 pull-left col-sm-6">
                     <h3 class="textSerif">Company</h3>
                     <ul class="list-unstyled links sans">
                         <li><a href="{% url 'mainapp:aboutus' %}">About Us</a></li>
                         <li><a href="#">Careers</a></li>
                         <li><a href="#">Press</a></li>
                     </ul>
                 </div>
                 <div class="col-lg-4 col-lg-offset-4 col-sm-6  contact">
                     <h3 class="textSerif">Have a Question?</h3>
                     <div class=" contact-info">
                         <div class="media">
                             <div class="media-left text-center">
                                 <i class="fa fa-question fa-2x"></i>
                             </div>
                             <div class="media-body">
                                 <p class="sans"><a href="#">Visit our FAQ page</a></p>
                             </div>
                         </div>
                         <div class="media">
                             <div class="media-left text-center">
                                 <i class="fa fa-phone fa-2x"></i>
                             </div>
                             <div class="media-body">
                                 <p class="sans">+1 (408) 462-1707 </p>
                             </div>
                         </div>
                         <div class="media">
                             <div class="media-left text-center">
                                 <i class="fa fa-envelope fa-lg"></i>
                             </div>
                             <div class="media-body">
                                 <p class="sans">info@realpal.com </p>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
             <div class="copyright ">
                 <div class="social">
                     <span class="lead ">Follow Us:</span>
                     <ul class="social-icons text-center list-unstyled">
                         <li class="navy"><a href="https://www.facebook.com/RealPal-296427890768369/"
                                             rel="noopener noreferrer" target="_blank"><i
                                 class="fa fa-facebook fa-lg"></i></a></li>
                         <li class="navy"><a
                                 href="https://www.youtube.com/channel/UCfa29cXl0l2GDNBuSuqsm-g?guided_help_flow=3"
                                 rel="noopener noreferrer" target="_blank"> <i class="fa fa-youtube fa-lg"></i></a></li>
                     </ul>
                     <div class="terms pull-right text-center">
                         <a href="{% url 'mainapp:privacy' %}" class="lead">Privacy</a>
                         <a href="{% url 'mainapp:terms' %}" class="lead">Terms</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
