<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#our-navbar" aria-expanded="false">
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <a class="navbar-brand sans navy text-center bold" href="/">
                REAL PAL
            </a>
        </div>
        <div class="collapse navbar-collapse" id="our-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navy" href="#">Locations</a></li>
                <li><a class="navy" href="{% url 'users:messenger' %}">Sign In</a></li>
                <li class="btn light-blue"><a href="{%   url 'register:purchase-step' %}">Get Started</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
