{% extends "base_onboarding.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">When do you plan to buy your house?</h1>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {{ form|crispy }}
                    </div>
                    <button class="btn" type="submit">Next</button>
                </form>
                <a href="{% url 'register:personal-profile' %}">
                    <button class="skip" type="button">Skip this step</button>
                </a>
            </div>
        </div>
    </section>

{% endblock %}
