{% extends "base_onboarding.html" %}
{% block content %}

    <link href="{% static 'css/onboarding_inputbox.css' %}" rel="stylesheet"/>

    <!-- Start Categories section -->

    <section class="categories text-center">
        <div class="container">
            <div class="header">
                <h1 class="domine">Do you have maximum budget?</h1>
            </div>
            <form class="form-inline" method="post" action="">
                {{ form.as_p }}
                <div class="dollar-sign">$</div>
                <button class="next center-block droid" type="submit">Continue</button>
                <a href="{% url 'register:current-rent' %}">
                    <button class="skip center-block droid" type="button">Skip this step</button>
                </a>
            </form>
        </div>
    </section>

    <!-- End Categories section -->
    <script>
        $(".next").on("click", function () {
            var textVal = $("input:text").val()

            if (textVal != "") {
                localStorage.max_budget = $('input:text').val();
            } else {
                localStorage.max_budget = "0.00";
            }
        });

        $(".skip").on("click", function () {
            localStorage.max_budget = "0.00";
        });
    </script>
{% endblock %}
