{% extends 'base_onboarding.html' %}


{% block content %}

    <link href="{% static 'css/onboarding_inputbox.css' %}" rel="stylesheet"/>

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Change password</h1>
                </div>

                {% if validlink %}
                    {% if forms.errors %}
                        <p class="red-text">{{ forms.errors }}</p>
                    {% endif %}
                    <form class="form-inline" action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div>
                                <strong>{{ field.label }}:</strong>
                                <br>
                                <input class="form-control input-lg" type="password" name="{{ field.name }}"
                                       id="id_{{ field.name }}">
                            <br><br>
                            </div>
                        {% endfor %}
                        <button class="continue center-block" type="submit">Reset</button>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}


            </div>
        </div>
    </section>
{% endblock %}
