{% extends 'base_onboarding.html' %}

{% block content %}

    <link href="{% static 'css/onboarding_inputbox.css' %}" rel="stylesheet"/>

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Password reset Email Sent!</h1>
                </div>
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'users:login' %}">sign in</a> now.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
