{% extends 'base_onboarding.html' %}

{% block content %}

    <link href="{% static 'css/onboarding_inputbox.css' %}" rel="stylesheet"/>

    <!-- Start Categories section -->
    <section class="registration-container">
        <div class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Password Reset Complete!</h1>
                </div>
                <p style="text-align: left;">
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <br>
                <p  style="text-align: left;">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
