{% extends "base_onboarding.html" %}
{% block content %}

      <link href="{% static 'css/onboarding_list_options.css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <h1 class="textSerif">What step are you in?</h1>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Next</button>
                </form>


            </div>
        </section>
        <!-- End Categories section -->
{% endblock %}
