{% extends "base.html" %}
{% block content %}

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Neighborhood your are interested in</h1>
                    <h3 class="droid">Get local trends and street level info</h3>
                </div>
                <div class="button-select">
                    <div class="row">
                        {% for city in cities %}
                            <div class="col-xs-4">
                                <button class="btn " data-val="{{ city.id }}">
                                    <p class="status droid">{{ city.name }}</p>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'mainapp:prepare-maxbudget' %}">
                <button class="continue center-block droid">Continue</button>
                </a>
                <a href="{% url 'mainapp:prepare-maxbudget' %}">
                <button class="skip">Anywhere in Silicon Valley</button>
                </a>
            </div>
        </section>

        <!-- End Categories section -->
        <script>
            localStorage.cities = '';
            var cities = []
            $(".btn").on("click", function(){
                cities.push($(this).attr("data-val"));
            });

            $(".continue").on("click", function(){
                localStorage.cities = cities.join();
            });

        </script>
{% endblock %}
