{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_grid_options.css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Neighborhood your are interested in</h1>
                    <h3 class="droid">Get local trends and street level info</h3>
                </div>
                <div class="button-select">
                    <div class="row">
                        <div class="col-xs-4">
                            <button class="btn ">
                                <p class="status droid">San Mateo</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">Palo Alto</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid long-T">Mountain<br>View</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                           <button class="btn">
                                <p class="status droid">San Jose</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">Milpitas</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                            <p class="status droid">Fremont</p>
                        </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">Hayward</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                           <button class="btn">
                                <p class="status droid">Oakland</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                           <button class="btn">
                                <p class="status droid long-T">South<br/>San Francisco</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">San Francisco</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">Livermore</p>
                            </button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn">
                                <p class="status droid">Pleasanton</p>
                            </button>
                        </div>
                    </div>
                </div>
                <a href="{% url 'mainapp:prepare-maxbudget' %}">
                <button class="continue center-block droid">Continue</button>
                </a>
                <a href="{% url 'mainapp:prepare-maxbudget' %}">
                <button class="skip">Anywhere in Silicon Valley</button>
                </a>
            </div>
        </section>

        <!-- End Categories section -->

{% endblock %}
