{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_list_options.scss' %}" rel="stylesheet"/>
        <link href="{% static 'css/onboarding_list_icons.scss' %}" rel="stylesheet"/>
        <link href="{% static 'css/onboarding_yesno.scss' %}" rel="stylesheet"/>
        <link href="{% static 'css/onboarding_inputbox.scss' %}" rel="stylesheet"/>
        <link href="{% static 'css/onboarding_inputbox.scss' %}" rel="stylesheet"/>
        <link href="{% static 'css/onboarding_timeline.scss' %}" rel="stylesheet"/>


        <div id="outerWizard">
        <!-- Start Categories section -->
        <h1 class="domine">Your Profile</h1>
        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Your Profile</h1>
                    <h3 class="droid">Helps us understand and serve you better</h3>
                </div>

                <div class="button-select">
                    <button class="btn center-block step1btn">
                        <p class="status droid">Single</p>
                        <p class="description domine">Steady income</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Married</p>
                        <p class="description domine">No kid(s) in school</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Married</p>
                        <p class="description domine">School going kid(s)</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Investing</p>
                        <p class="description domine">For cashflow</p>
                    </button>
                </div>
                <button class="skip">Skip this step</button>
            </div>
        </section>

        <h1 class="domine">Your Profile</h1>
        <section class="categories text-center step2">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Is this your first home buy?</h1>
                    <h3 class="droid">So you can know about tax advantages, house choosing criteria</h3>
                </div>
              <a href="home-type">
                <div class="button-select text-center">
                    <div class="row">
                        <button class="btn col-xs-3 col-xs-offset-2">Yes</button>
                        <button class="btn col-xs-3 col-xs-offset-1">No</button>
                    </div>
                </div>
              </a>
            </div>
        </section>
        <!-- End Categories section -->
        <h1 class="domine">Your Profile</h1>

        <section class="categories text-center step3">
            <div class="container">
                <div class="header">
                    <h1 class="domine">What kind of home are your considering?</h1>
                    <h3 class="droid">Interest rate and property tax may vary upon house type</h3>
                </div>
                <div class="button-select text-center">
                    <div class="home">
                      <a href="max-budget">
                        <button>
                            <i class="fa fa-home fa-4x"></i>
                            <a class="status droid">Single family home</a>
                        </button>
                      </a>
                    </div>
                    <div class="home">
                      <a href="max-budget">
                        <button>
                            <div class="icon"><img src="{% static 'fonts/townhouse-svgrepo-com.svg' %}"></div>
                            <a class="status droid">Town home</a>
                        </button>
                      </a>
                    </div>
                    <div class="home">
                      <a href="max-budget">
                        <button>
                            <div class="icon"><img src="{% static 'fonts/building-tower-svgrepo-com.svg' %}"></div>
                            <a class="status droid">Condominium</a>
                        </button>
                      </a>
                    </div>
                    <div class="home">
                      <a href="max-budget">
                        <button>
                            <i class="fa fa-exclamation fa-4x"></i>
                            <a class="status droid">New construction (any type)</a>
                        </button>
                      </a>
                    </div>
                </div>
                <button class="skip">Flexible with options</button>
              </a>
            </div>
        </section>
        <h1 class="domine">Your Profile</h1>

        <section class="categories text-center step4">
            <div class="container">
                <div class="header">
                <h1 class="domine">Do you have maximum budget?</h1>
                </div>
                <form class="form-inline">
                    <input class="form-control input-lg" type="text">
                    <div class="dollar-sign">$</div>
                </form>
                <a href="rent">
                  <button class="next center-block droid">Continue</button>
                </a>
                <a href="rent">
                  <button class="skip center-block droid">Skip this step</button>
                </a>
            </div>
        </section>

        <h1 class="domine">Your Profile</h1>


        <section class="categories text-center step5">
            <div class="container">
                    <div class="header">
                    <h1 class="domine">What is your current rent?</h1>
                    <h3 class="droid">To evaluate buy vs rent</h3>
                    </div>
                <form class="form-inline">
                    <input class="form-control input-lg" type="text">
                    <div class="dollar-sign">$</div>
                </form>
                <a href="timeline">
                    <button class="continue center-block">Continue</button>
                </a>
                <a href="timeline">
                    <button class="skip center-block">Skip this step</button>
                </a>
                </div>
        </section>

        <h1 class="domine">Your Profile</h1>

        <section class="categories text-center step6">
            <div class="container">
                <div class="header">
                    <h1 class="domine">When do you plan to buy your house?</h1>
                </div>
                <div class="button-select text-center">
                    <div class="home">
                    <a href="/signup">
                        <button>
                            <div class="icon"></div>
                            <a class="status droid">0-3 months</a>
                        </button>
                    </a>
                    </div>
                    <div class="home">
                    <a href="/signup">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">3-6 months</a>
                        </button>
                    </a>
                    </div>
                    <div class="home">
                    <a href="/signup">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">6-12 months</a>
                        </button>
                    </a>
                    </div>
                    <div class="home">
                    <a href="/signup">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">12+ months</a>
                        </button>
                    </a>
                    </div>
                    <div class="home">
                    <a href="/signup">
                        <button >
                            <i class="fa fa-question fa-2x"></i>
                            <a class="status droid">I'm not sure</a>
                        </button>
                    </a>
                    </div>
                </div>
                <a href="/signup">
                <button class="skip">Skip this step</button>
                </a>
            </div>
        </section>
    </div>

        <script>
        $("#outerWizard").steps({
    headerTag: "h1",
    bodyTag: "section",
    transitionEffect: "slideLeft",
    autoFocus: true
});

        </script>
{% endblock %}
