{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_grid_options' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Your Profile</h1>
                    <h3 class="droid">Helps us understand and serve you better</h3>
                </div>
                <div class="options">
                    
                    <div class="question row">
                        <h2 class="domine text-center">Type of house</h2>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="../../../static/images/type.jpg" alt="house">
                        </div>
                         <div class="col-sm-6">
                            <button class="btn center-block">
                                <p class="status droid">Single family</p>
                            </button>
                            <button class="btn center-block">
                                <p class="status droid">townhome</p>
                            </button>
                            <button class="btn center-block">
                                <p class="status droid">condominium</p>
                            </button>
                            <button class="btn center-block">
                                <p class="status droid">flexible</p>
                            </button>
                        </div>
                    </div>

                    <div class="question row">
                      <h2 class="domine text-center">Age of house</h2>
                      <div class="col-sm-6">
                        <img class="img-responsive age" src="../../../static/images/age.jpg" alt="house"/>
                      </div>
                      <div class="col-sm-6">
                        <button class="btn center-block">
                            <p class="status droid">New construction</p>
                        </button>
                        <button class="btn center-block">
                            <p class="status droid">1-10</p>
                        </button>
                        <button class="btn center-block">
                            <p class="status droid">10-25</p>
                        </button>
                        <button class="btn center-block">
                            <p class="status droid">25-50</p>
                        </button>
                        <button class="btn center-block">
                            <p class="status droid">50+</p>
                        </button>
                      </div>
                    </div>

                    <div class="question row">
                        <h2 class="domine text-center">Condition of house</h2>
                        <div class="col-sm-6">
                            <img class="img-responsive" src="../../../static/images/condition.jpg" alt="house">
                        </div>
                        <div class="col-sm-6 condition">
                            <button class="btn center-block">
                                <p class="status droid">Updated</p>
                            </button>
                            <button class="btn center-block long-T">
                                <p class="status droid">Slightly dated<br>okay</p>
                            </button>
                            <button class="btn center-block">
                                <p class="status droid">Fixer upper</p>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="next center-block droid">Next</button>
                <button class="skip">Skip this step</button>
            </div>
        </section>

        <!-- End Categories section -->
        
{% endblock %}        
