<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <!-- Internet Explorer meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First mobile meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}REALPAL{% endblock title %}</title>
        
        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        
        {% block css %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/base_profile.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine:300,400,700" >
        {% block css %}
        
    </head>
    
    <body>

        <!-- Start banner section -->

        <section class="banner text-center">
            <div class="container">
                <div class="row">
                    <ul class="list-unstyled">
                        <a class="col-xs-4" href="discover.html">
                            <li class="sans">
                                <i class="fa fa-eye fa-2x"></i>
                                <span>discover</span>
                            </li>
                        </a>
                        <a class="col-xs-4" href="messages.html">
                            <li class="sans">
                                <i class="fa fa-comment-o fa-2x"></i>
                                <span>messages</span>
                            </li>
                        </a>
                        <a class="col-xs-4" href="me.html">
                            <li class="sans">
                                <i class="fa fa-user-o fa-2x"></i>
                                <span>me</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <!-- End banner section -->
        
      {% block content %}

      {% endblock content %}
        
        
      {% block javascript %}
        
        <script src="js/jquery-1.12.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/profile.js"></script>
        
      {% endblock javascript %}
    </body>
</html>