<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <!-- Internet Explorer meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First mobile meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>REALPAL</title>
        <link rel="stylesheet" href="../../static/css/bootstrap.css"/>>
        <link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="../../static/css/home.css"/>
        <link rel="stylesheet" href="https://static.olark.com/jsclient/styles/artsy-albatross/theme.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
        <!--[if lt IE 9]>
        <script src="plugins/html5shiv.min.js"></script>
        <script src="plugins/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!-- Start Navbar -->
        
        <nav class="navbar navbar-fixed-top">   
          <div class="container">
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#our-navbar" aria-expanded="false">
                  <i class="fa fa-bars fa-2x"></i>
              </button>  
              <a class="navbar-brand sans navy text-center bold" href="#">
                  REAL PAL
              </a>
            </div>
            <div class="collapse navbar-collapse" id="our-navbar">              
              <ul class="nav navbar-nav navbar-right">
                <li><a class="navy sans" href="#">Locations</a></li>
                <li><a class="navy sans" href="#">Sign In</a></li>
                <li class="btn back-brown sans"><a href="#">Get Started</a></li>
              </ul>       
            </div>
          </div><!-- /.container-fluid -->
        </nav>
        
        <!-- End Navbar -->
        
        <!-- Start Intro -->
        
        <section class="header text-center textSerif">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 prepare">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span class="textSerif">Prepare</span>
                            <span class="works sans">How It Works</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 buy">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span class="textSerif">purchase</span>
                            <span class="works sans">How It Works</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 live">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span class="textSerif">Live</span>
                            <span class="works sans">How It Works</span>
                        </a>
                    </div>
                </div>                  
            </div>
        </section>
        
        <!-- End Intro -->
        
        <!-- Start Text section -->
        
        <section  class="text">
            <div class="container" >
                <div class="row text-center">
                    <div class="body">
                        <h3 class="text-center brown textSerif">
                            As a Nordstrom company, Trunk Club has the service, selection, and convenience of one of the world’s best retailers—you can even earn Nordstrom rewards.
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Text section -->
        
        <!-- Start Benefits Section -->
        
        <section id="why" class="benefits text-center  navy">
            <div class="container">
                <div class="row">
                    <h2 class="h1 textSerif">The benefits of Real Pal</h2>
                    <div class="box col-md-4">
                        <i class="fa fa-check fa-5x back-navy"></i>
                        <p class="lead sans">Honest and knowledgeable</p>
                        <p class="textSerif">We carry the top-quality apparel you’ve come to expect from Nordstrom, at a range of price points.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-wifi fa-5x back-navy"></i>
                        <p class="lead sans">Guide who listens</p>
                        <p class="textSerif">Chat with a real person—in real time—about everything from fit to budget to outfitting advice.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-refresh fa-5x back-navy"></i>
                        <p class="lead sans">Comfortable experience</p>
                        <p class="textSerif">Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Benefits  Section -->
        
        <!-- Start Learn About Section -->
        
        <section class="learn back-brown text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="h1 textSerif">Learn more about how<br> Real Pal works</h2>
                    </div>
                    <div class="col-md-3">
                        <button class="btn back-brown sans">Get Started</button>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Start Learn About Section -->
        
         <!-- Start Ultimate Footer Section-->
        
        <section class="footer back-navy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <h3 class="textSerif">Real Pal</h3>
                        <ul class="list-unstyled site-map sans">
                            <li><a>Prepare</a></li>
                            <li><a>Purchase</a></li>
                            <li><a>Live</a></li>
                            <li><a>Invest</a></li>
                            <li><a>Sign In</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 pull-left col-sm-6">
                        <h3 class="textSerif">Company</h3>
                        <ul class="list-unstyled links sans">
                            <li><a>About Us</a></li>
                            <li><a>Careers</a></li>
                            <li><a>Press</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-lg-offset-4 col-sm-6  contact">
                        <h3 class="textSerif">Have a Question?</h3>
                        <div class=" contact-info">
                            <div class="media">
                              <div class="media-left text-center">
                                    <i class="fa fa-question fa-2x"></i>
                              </div>
                              <div class="media-body">
                                <p class="textSerif">Visit our FAQ page</p>
                              </div>
                            </div>
                            <div class="media">
                              <div class="media-left text-center">
                                <i class="fa fa-phone fa-2x"></i>
                              </div>
                              <div class="media-body">
                                <p class="textSerif">+20-11-5632-1668</p>
                              </div>
                            </div>
                            <div class="media">
                              <div class="media-left text-center">
                                <i class="fa fa-envelope fa-lg"></i>
                              </div>
                              <div class="media-body">
                                <p class="textSerif">info@realpal.com </p>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="copyright ">
                    <div class="social">
                        <span class="lead sans">Follow Us:</span>
                        <ul class="social-icons text-center list-unstyled">
                            <li class="navy"><i class="fa fa-facebook fa-lg"></i></li>
                            <li class="navy"><i class="fa fa-youtube fa-lg"></i></li>
                        </ul>
                        <div class="terms pull-right text-center">
                            <a class="sans">Privacy</a>
                            <a class="sans">Terms</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Ultimate Footer Section-->
        
        
        <script src="../../static/js/jquery-1.12.2.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="../../static/js/home.js"></script>
    </body>
</html>