{% extends "base.html" %}
{% block content %}

        <!-- Start Intro -->

        <section class="header text-center textSerif">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 prepare">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span>Prepare</span>
                            <span class="works">How It Works</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 purchase">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span class="">Purchase</span>
                            <span class="works">How It Works</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 own">
                        <div class="overlay"></div>
                        <a href="#" class="">
                            <span>Own</span>
                            <span class="works">How It Works</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Intro -->

        <!-- Start Text section -->

        <section  class="text">
            <div class="container" >
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-center brown textSerif">Your biggest purchase is a well advised journey with right deals at every step. Being your trusted pal we like to help you have happy home.</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Text section -->

        <!-- Start Benefits Section -->

        <section id="why" class="benefits text-center  navy">
            <div class="container">
                <div class="row">
                    <h2 class="h1">The benefits of Real Pal</h2>
                    <div class="box col-md-4">
                        <i class="fa fa-check fa-5x back-navy"></i>
                        <p class="lead bold">Honest and knowledgeable</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-wifi fa-5x back-navy"></i>
                        <p class="lead bold">Guide who listens</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-refresh fa-5x back-navy"></i>
                        <p class="lead bold">Comfortable experience</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Benefits  Section -->

        <!-- Start Learn About Section -->

        <section class="learn back-brown text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="h1">Learn more about how<br> Real Pal works</h2>
                    </div>
                    <div class="col-md-2">
                        <button class="btn back-brown">Get Started</button>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
