{% extends "base.html" %}
{% block content %}
        
       <link href="{% static 'css/how-it-works.css' %}" rel="stylesheet"/>
       <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        
       <!-- Start Intro -->
        
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="navy card text-center">
                            <div class="logo ">
                                <span><i class="fa fa-home fa-3x brown"></i></span>
                            </div>
                            <h2>OUR HOUSE BUYING JOURNEY</h2>
                            <hr>
                            <p class="bold">Making Sense Of Real Estate Deals</p>
                            <p class="descreption">Lorem ipsum dolor sit amet, in meis disputationi sed, has an esse case euismod. Eros epicurei pericula in pro, ei diam verear inermis has. Ne sed fugit volutpat</p>
                            <a class="btn back-brown" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End Intro -->
        
        <!-- Start Sub-Navbar -->
        
         <div class="sub-nav col-xs-12 back-beige">
                        <ul class="list-unstyled pull-right">
                            <li ><a href="#" class="navy active">Buying Journey</a></li>
                            <li><a href="#how" class="navy">How It Works</a></li>
                            <li><a href="#dream" class="navy">Dream House</a></li>
                            <li><a href="#properties" class="navy">Recent Properties</a></li>
                            <li><a href="#why" class="navy">Why Us?</a></li>
                            <li><a href="#contact" class="navy">Contact Us</a></li>
                        </ul>
                    </div>
        
        <!-- End Sub-Navbar -->
        
        <!-- Start How It Works -->
        
        <section id="how" class="how-works back-beige text-center navy">
            <div class="container" >
                <div class="row">
                    <h2 class="h1">HOW IT WORKS</h2>
                    <p class="lead">Buying new house is easy when you do it our way</p>
                    <div class="time-path row">
                        <div class="timeline col-sm-3 hidden-xs">
                            <div class="progress-bar" ></div>
                        </div>
                        <ul class=" blocks list-unstyled">
                             <li class="block l col-sm-6 no1">
                                <img class="img-responsive" src="images/decide.jpg"/>   
                                <div class="caption">
                                    <h3 class="bold">Decide & prepare for house purchase </h3>
                                    <p>Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum</p>
                                </div>
                            </li>
                            <li class="block r col-sm-6 no2">
                                <img class="img-responsive" src="images/evaluate.jpeg"/>   
                                <div class="caption">
                                    <h3 class="bold">Evaluate & get right deals during buying</h3>
                                    <p>Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum Vim animal legimus cu. Quaeque</p>
                                </div>
                            </li>
                            <li class="block l col-sm-6 no3">
                                <img class="img-responsive" src="images/signature.jpeg"/>   
                                <div class="caption">
                                    <h3 class="bold"> House owning & assistance during purchase</h3>
                                    <p>Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum ea, dolorem indoctum</p>
                                </div>
                            </li>
                            <li class="block r col-sm-6 no4">
                                <img class="img-responsive" src="images/how1.jpeg"/>   
                                <div class="caption">
                                    <h3 class="bold">Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum Vim animal legimus cu. Quaeque</p>
                                </div>
                            </li>
                            <li class="block l col-sm-6 no5">
                                <img class="img-responsive" src="images/how.jpg"/>   
                                <div class="caption">
                                    <h3 class="bold">Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum ea, dolorem indoctum</p>
                                </div>
                            </li>
                            <li class="col-xs-offset-5 col-xs-2 ">
                                <a class=" btn back-brown" href="#">Get Started</a>
                            </li>
                        </ul>  
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End How It Works -->
        
        <!-- Start Cost Section -->
        
        <section class="cost text-center">
            <div class="container">
                <h2 class="h1">What it costs?</h2>
                <p class="description sans">Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum ea, dolorem indoctum</p>
                <p class="setPrice center-block">Lorem ipsum dolor sit amet, quis impedit sed ne.</p>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Evaluate buy vs rent, income tax</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Personal finances and readiness</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Type of houses and property tax, appreciation</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">inding right Mortgage type, agent</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Local trends, location selection</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Real estate agent criteria - cashbacks, value add</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Lorem ipsum dolor sit amet, quis</p>
                        <p class="price">$xxx</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <i class="fa fa-user-o fa-3x brown"></i>
                        <p class="lead bold">Lorem ipsum dolor sit amet, quis</p>
                        <p class="price">$xxx</p>
                    </div>
                </div>
                <a class=" btn back-brown" href="#">Get Started</a>
            </div>
        </section> 
        
        <!-- End Cost Section -->
        
        <!-- Start expect Section -->
        
        <section class="expect">
            <div class="container">
                <div class="row">
                    <div class="card col-xs-4 col-xs-offset-4 text-center">
                        <h2 class="h1 textSerif">What else can I expect?</h2>
                        <p class="textSerif">Lorem ipsum dolor sit amet, quis impedit sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum ea, dolorem indoctum</p>
                        <ul class="list-unstyled">
                            <li class="fa fa-check">
                                <span class=" sans">&nbsp;&nbsp;Lorem ipsum dolor sit amet</span>
                            </li>
                            <li class="fa fa-check">
                                <span class=" sans">&nbsp;&nbsp;Lorem ipsum dolor sit amet</span>
                            </li>
                            <li class="fa fa-check">
                                <span class=" sans">&nbsp;&nbsp;Lorem ipsum dolor sit amet</span>
                            </li>
                            <li class="fa fa-check">
                                <span class=" sans">&nbsp;&nbsp;Lorem ipsum dolor sit amet</span>
                            </li>
                            <li class="fa fa-check">
                                <span class=" sans">&nbsp;&nbsp;Lorem ipsum dolor sit amet</span>
                            </li>
                        </ul>
                        <a class=" btn back-brown" href="#">Get Started</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End expect Section -->
        
        <!-- Start Find Section -->
        
        <section id="dream" class="find text-center">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <h2 class="h1">Find YOUR DREAM HOUSE</h2>
                        <div class="col-xs-6 col-md-3">
                            <h3>No. of Bedrooms</h3>
                            <select>
                                <option selected disabled>Any</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <h3>No. of Bathrooms</h3>
                            <select>
                                <option selected disabled>Any</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <h3>Min Area (sqft)</h3>
                            <select>
                                <option selected disabled>Any</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-3 last">
                            <h3>Max Area (sqft)</h3>
                            <select>
                                <option selected disabled>Any</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <form class="form-inline">
                                <input class="form-control input-lg" type="text" placeholder="Address, City, Zip, or Neighborhood"/>
                                <button class="btn btn-lg"><i class="fa fa-search"></i>Search Local</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Find Section -->
        
        <!-- Start Evaluate Section -->
        
        <section id="properties" class="evaluate navy">
            <div class="container">
                <div class="row">
                    <h2 class="h1 text-center">RECENT PROPERTIES</h2>
                    <div class="col-md-4">
                        <div class="box">
                            <img class="img-responsive" src="images/properties(1).jpeg" />
                            <p class="lead">89 Cambria, California, United States</p>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-bed"> &nbsp; 2</i>
                                </li>
                                <li>
                                    <i class="fa fa-bath"> &nbsp; 1</i>
                                </li>
                                <li>
                                    <i class="fa fa-car"> &nbsp; 1</i>
                                </li>
                                <li class="lead pull-right">
                                    1800 sq. ft.
                                </li>
                            </ul>
                            <div class="sell">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>For Sell</p>
                                        <h2 class="brown" >$20000</h2>
                                    </div>
                                    <div class="col-xs-6">
                                       <span class="btn back-brown pull-right"><a href="#">Get Started</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <img class="img-responsive" src="images/properties(2).jpg" />
                            <p class="lead">89 Cambria, California, United States</p>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-bed"> &nbsp; 3</i>
                                </li>
                                <li>
                                    <i class="fa fa-bath"> &nbsp; 2</i>
                                </li>
                                <li>
                                    <i class="fa fa-car"> &nbsp; 1</i>
                                </li>
                                <li class="lead pull-right">
                                    2000 sq. ft.
                                </li>
                            </ul>
                            <div class="sell">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>For Sell</p>
                                        <h2 class="brown" >$25000</h2>
                                    </div>
                                    <div class="col-xs-6">
                                       <span class="btn back-brown pull-right"><a href="#">Get Started</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <img class="img-responsive" src="images/properties(3).jpeg" />
                            <p class="lead">89 Cambria, California, United States</p>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-bed"> &nbsp; 3</i>
                                </li>
                                <li>
                                    <i class="fa fa-bath"> &nbsp; 3</i>
                                </li>
                                <li>
                                    <i class="fa fa-car"> &nbsp; 2</i>
                                </li>
                                <li class="lead pull-right">
                                    2100 sq. ft.
                                </li>
                            </ul>
                            <div class="sell">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>For Sell</p>
                                        <h2 class="brown" >$30000</h2>
                                    </div>
                                    <div class="col-xs-6">
                                       <span class="btn back-brown pull-right"><a href="#">Get Started</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Evaluate Section -->
        
        <!-- Start Benefits Section -->
        
        <section id="why" class="benefits text-center back-beige navy">
            <div class="container">
                <div class="row">
                    <h2 class="h1">THE BENEFITS OF REALPAL</h2>
                    <p class="lead">Helping hand through entire journey of house buying</p>
                    <div class="box col-md-4">
                        <i class="fa fa-check fa-5x back-navy"></i>
                        <p class="lead bold"> Honest opinion</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-wifi fa-5x back-navy"></i>
                        <p class="lead bold">always available online</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                    <div class="box col-md-4">
                        <i class="fa fa-refresh fa-5x back-navy"></i>
                        <p class="lead bold">update with local area trends</p>
                        <p>Lorem ipsum dolor sit amet, quis impedit albucius sed ne. Vim animal legimus cu. Quaeque vocibus id nec, pro ipsum facilisi ea, dolorem indoctum cu vim. No has eros gloriatur, sea ei nullam debitis senserit.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Benefits  Section -->
        
        <!-- Start Contact us Section-->
        
        
        <section id="contact" class="contact-us text-center">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <i class="fa fa-weixin fa-5x navy"></i>
                        <h2 class="h1 navy">Have a Question?</h2>
                        <p class="lead navy">Feel Free To Contact Us Anytime</p>
                        <!-- Start Contact Form -->

                        <form role="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Username"/>
                                </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Cell Phone"/>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control input-lg" placeholder="Your Message"></textarea>
                                </div>
                                <button class="btn back-brown bold navy btn-lg btn-block">Contact Us</button>
                            </div>
                        </form>

                        <!-- End Contact Form -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Contact us Section-->

{% endblock %}
