{% extends "base_onboarding.html" %}
{% block content %}
        
        <link href="{% static 'css/onboarding%20(1)%20(2)%20(9).css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Your Profile</h1>
                    <h3 class="droid">Helps us understand and serve you better</h3>
                </div>
                <div class="button-select">
                    <button class="btn center-block">
                        <p class="status droid">Single</p>
                        <p class="description domine">Steady income</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Married</p>
                        <p class="description domine">With no kid(s)</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Married</p>
                        <p class="description domine">Kid(s) not in school</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Married</p>
                        <p class="description domine">School going kid(s)</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Investor</p>
                        <p class="description domine">For cashflow</p>
                    </button>
                </div>
                <button class="skip">Skip this step</button>


            </div>
        </section>

        <!-- End Categories section -->
        
{% endblock %} 