{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding%20(1)%20(2)%20(9).css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->
        
        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">Which language do you prefer?</h1>
                </div>
                <div class="button-select">
                    <button class="btn center-block">
                        <p class="status droid">English</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Spanish</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Mandarin/Cantonese</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Hindi</p>
                    </button>
                    <button class="btn center-block">
                        <p class="status droid">Other</p>
                    </button>
                </div>
                <button class="skip droid">Skip this step</button>
            </div>
        </section>
        
        <!-- End Categories section -->
                        
{% endblock %}