{% extends "base_onboarding.html" %}
{% block content %}
        
        <link href="{% static 'css/onboarding%20(1)%20(2)%20(9).css' %}" rel="stylesheet"/>
        
        <!-- Start Categories section -->
        
        <section class="categories text-center">
            <div class="container">
                <h1 class="domine">What clothing would you like?</h1>

                <div class="btn sans center-block">Prepare</div>
                <div class="btn sans center-block">Purchase</div>
                <div class="btn sans center-block">Live</div>
            </div>
        </section>
        
        <!-- End Categories section -->

{% endblock %}        