{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_4.css' %}" rel="stylesheet"/>
        
        <!-- Start Categories section -->
        
        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">When do you plan to buy your house?</h1>
                </div>
                <div class="button-select text-center">
                    <div class="home">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">0-3 months</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">3-6 months</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">6-12 months</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <div class="icon"></div>
                            <a class="status droid">12+ months</a>
                        </button>
                    </div>
                    <div class="home">
                        <button >
                            <i class="fa fa-question fa-2x"></i>
                            <a class="status droid">I'm not sure</a>
                        </button>
                    </div>
                </div>
                <button class="skip">Skip this step</button>
            </div>
        </section>
        
        <!-- End Categories section -->
        
{% endblock %}