{% extends "base_onboarding.html" %}
{% block content %}

        <link href="{% static 'css/onboarding_3.css' %}" rel="stylesheet"/>

        <!-- Start Categories section -->
        
        <section class="categories text-center">
            <div class="container">
                <div class="header">
                    <h1 class="domine">What kind of home are your considering?</h1>
                    <h3 class="droid">Interest rate and property tax may vary upon house type</h3>
                </div>
                <div class="button-select text-center">
                    <div class="home">
                        <button>
                            <i class="fa fa-home fa-4x"></i>
                            <a class="status droid">Single family home</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <div class="icon"><img src="fonts/townhouse-svgrepo-com.svg"></div>
                            <a class="status droid">Townhome</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <div class="icon"><img src="fonts/building-tower-svgrepo-com.svg"></div>
                            <a class="status droid">Condominium</a>
                        </button>
                    </div>
                    <div class="home">
                        <button  >
                            <i class="fa fa-exclamation fa-4x"></i>
                            <a class="status droid">Other options</a>
                        </button>
                    </div>
                </div>
                <button class="skip">Skip this step</button>
            </div>
        </section>
        
        <!-- End Categories section -->
{% endblock %} 