<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <!-- Internet Explorer meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First mobile meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>REALPAL</title>
        <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
        <link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="../../static/css/onboarding.css"/>
        <link rel="stylesheet" href="https://static.olark.com/jsclient/styles/artsy-albatross/theme.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- Start section banner -->

        <section class="banner back-darkBlue text-center">
            <div class="container">
                <div class="row">
                    <h4 class="sans">REAL PAL</h4>
                </div>
            </div>
        </section>

        <!-- Start section banner -->

        <!-- Start Categories section -->

        <section class="categories text-center">
            <div class="container">
                <h1 class="textSerif">What step are you in?</h1>

                    <div class="btn sans center-block">Decide & prepare to buy</div>
                    <div class="btn sans center-block">Evaluate house & put an offer</div>
                    <div class="btn sans center-block">Home owner benefits</div>

            </div>
        </section>

        <!-- End Categories section -->

        <!-- Start Footer section -->

        <section class="footer lead sans">
            <div class="container">
                <div class="row">
                    <a class="lead pull-left">Real Pal</a>
                    <a class="pull-right">PRIVACY</a>
                </div>
            </div>
        </section>

        <!-- End Footer section -->

        <script src="../../static/js/jquery-1.12.2.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
    </body>
</html>
